.container{

    background: black;

    width: 100vw;

    height: 100vh;

    display: grid;

    grid-template-columns: 10px 10px 10px;

    grid-template-rows: 10px 10px 10px;

    gap: 5px;

    justify-content: space-evenly;

    align-content: space-evenly;

}

body {

    margin: 0;

    padding: 0;


}

.container div{

    background: white;


}

.container-hover :hover {

background: blue;

}

h1 {

    background-color: black;

    margin: 0;

    color: whitesmoke;

    text-align: center;

}

h2 {

    background: black;
    color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    margin: 0;

}